<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmIVwvl6R0TSr1n8MVryFpxplBH15FxQk</string>
	<key>GCM_SENDER_ID</key>
	<string>638190918825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pp.Instagram</string>
	<key>PROJECT_ID</key>
	<string>insta-65a01</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-65a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638190918825:ios:5f31016061ff6b386e1db8</string>
</dict>
</plist>